body {
  margin: 25px 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(106, 120, 133, 0.477);
}

#container {
  border: solid 0.5px black;
  margin: 50px 0 0 0;
  display: grid;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.grid {
  border: solid 0.5px black;
  margin: 0;
  padding: 0px;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  margin: 5px;
}
