body {
  margin: 25px 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#container {
  border: solid 1px black;
  margin: 50px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.grid {
  height: 14px;
  width: 14px;
  border: solid 0.5px black;
  margin: 0;
  padding: 0;
}

button {
  width: 100px;
  margin: 5px;
}
